.error {
    border: red 3px solid;
}

.errorMessage {
    color:red;
}

.activeFilter {
    background-color: aquamarine;
    border-radius: 5px;
}

.isDone {
    opacity: 0.5;
}

.button {
    border-radius: 5px;
}